[submodule ".registry"]
	path = .registry
	url = https://github.com/stevenpawley/stevenpawley.r-universe.dev
	branch = HEAD
[submodule "Rsagacmd"]
	path = Rsagacmd
	url = https://github.com/stevenpawley/Rsagacmd
[submodule "usgsm2m"]
	path = usgsm2m
	url = https://github.com/stevenpawley/usgsm2m
